:root {
    --blizzard-blue: #00bfff;
    --blizzard-blue-dark: #00b2ff;
    --blizzard-blue-light: #00bfff;
    --blizzard-black: #0b0d12;
    --blizzard-button-blue: #1190ed;
    --resize-500: 40px;
    --font-default: 'Archivo'
    --font-accent: 'Poppins'

}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

* {
    font-family: 'Archivo', sans-serif;
}

nav {
    background-color: var(--blizzard-black);
    color: #bababa;
    list-style-type: none;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

li {
    padding-left: 0.3em;
}

a:link, a:visited {
    color: #bababa;
    text-decoration: none;
}

/* .links-flexbox {
    display: flex;
    justify-content: space-between;
} */

.navbar {
    position: relative;
    display: flex;
    /* justify-content: flex-start; */
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    z-index: 1;
    max-width: 100%;
}

.first-five {
    margin-left: 1em;
    max-width: 50%;
    justify-content: flex-start;
}

.navbar-last-two {
    margin-left: 33em;
    /* margin-right: 2em; */
    align-self: flex-end;
    white-space: nowrap ;
}

.last-child {
    padding-left: 0.4em;
}

body {
    background-color: #172436;
    margin: 0;
}

.outlaw-bfa-pic {
    display: block;
    max-width: 800px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
}

.white-font {
    color: #fff;
    font-family: "Archivo", sans-serif;
    margin: var(--resize-500);
    margin-left: 2.5em;
}

.games-container {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    margin-left: 4.5em;
    /* margin-right: 4em; */

}

.game-layout {
    flex-grow: 1;
    max-height: 180px;
    max-width: 180px;
}

.manual-styling-game-pic {
    max-width: 300px;
    max-height: 300px;
    padding: 1em;
}

footer {
    background-color: var(--blizzard-black);
}


.see-all-games-button {
    display: block;
    background-color: var(--blizzard-button-blue);
    border: 2px solid rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border-radius: 100px;
    text-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 10px;
    margin-top: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 2em;
}

.blizz-logo {
    display: block;
    background-color: var(--blizzard-black);
    width: 5%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1em;
   
}

.navbar-bottom {
    display: flex;
    justify-content: center;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 0.5em;
}